.container-fluid {
  max-height: 100%;
}

.navbar{
  background-color: rgba(0, 0, 0, 0.2);
}

.navbar:hover{
  background-color: rgba(216,213,209,0.9);
  transition: all 0.9s ease-in-out;
}


.nav-link.active {
  border-bottom: #282c34 solid 1px;
  font-weight: bold;
}

.nav-item:hover {
  background-color: rgb(180, 177, 173);
  color: whitesmoke;
  border-bottom: #282c34 solid 1px;
  transition: all 0.5s ease-in-out;
}

.dropdown-item {
  color: #878585;
}

.dropdown-item:hover {
  background-color: #ccc;
  color: black;
}

.introducer{
  z-index: 2;
  position: absolute;
  transform: translate(10%, 12rem);
  color:white;
  max-width:50rem;
}
.carouselPic{
  height: 600px;
  filter:blur(1px) brightness(0.8) contrast(1.2);
}
